<launch>
<node pkg="tf" type="static_transform_publisher" name="laser_link_broadcaster" args="0.1 0.2 0.2 0 0 0 1 /base_link laser 200"/>
<node pkg="laser_scanner_model" type="laser_pub" name="laser_publisher"  output="screen"/>
<include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch" />
<include file="$(find turtlebot_rviz_launchers)/launch/view_robot.launch" />
</launch>



